{% extends 'admin/base' %}

{% block title %} Create new Location {% endblock %}

{% block content %}
	<div span="12">
		<h1>Create a New Location</h1>

		<form class="form-horizontal" action="{{ url_route('admin.locations.store') }}" method="POST">
			<div class="control-group {% if errors.location_name is defined %} error {% endif %}">
				<label for="location_name" class="control-label">Name</label>

				<div class="controls">
					<input type="text" name="name" id="location_name" value="{{ app.request.get( 'location_name' ) }}">
					{% if errors.location_name is defined %}
						<span class="help-inline">{{ errors.location_name }}</span>
					{% endif %}
				</div>
			</div>
			<div class="control-group {% if errors.datasheet is defined %} error {% endif %}">
				<label class="control-label" for="datasheet">Datasheet:</label>

				<div class="controls">
					<select name="datasheet_id" id="datasheet">
						<option value="" selected>Select a datasheet</option>
						{% for datasheet in datasheets %}
							<option value="{{ datasheet.id }}">{{ datasheet.name }}</option>
						{% endfor %}
					</select>
					{% if errors.datasheet is defined %}
						<span class="help-inline">{{ errors.datasheet }}</span>
					{% endif %}
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">Create location</button>
				<a class="btn btn-default" href="{{ url_route('admin.locations.index') }}" class="btn">Cancel</a>
			</div>


		</form>


	</div>
{% endblock %}

