{% extends 'admin/base' %}

{% block title %}Select a location{% endblock %}

{% block content %}
	<div class="span12">
		<h1>Select a location</h1>
		{% if locations %}
			<table class="table table-hover">
				<tr>
					<th>Location</th>
					<th>Datasheet</th>
					<th>Actions</th>
				</tr>
				{% for location in locations %}
					<tr>
						<td><a href="{{ url_route('admin.locations.show', {id:location.id}) }}"> {{ location.name }}</a></td>
						<td>{{ location.datasheet.name }}</td>
						<td>
							{{ form_open({'method': 'DELETE', 'class': 'form-inline', 'route': ['admin.locations.destroy', location.id] })|raw }}
							<a class='btn btn-small btn-default'
							   href="{{ url_route('admin.locations.show', {id:location.id}) }}"><i
										class="glyphicon glyphicon-eye-open"></i> View</a>
							<a class='btn btn-small btn-default' href="{{ url_route('export-data', {id:location.id}) }}"><i
										class="glyphicon glyphicon-download"></i> Export</a>
							<a class='btn btn-small btn-default'
							   href="{{ url_route('admin.locations.edit', {id:location.id}) }}"><i
										class="glyphicon glyphicon-edit"></i> Edit</a>
							<button type='submit' class="btn btn-small btn-danger"><i class="glyphicon glyphicon-trash"></i>
								Delete
							</button>
							{{ form_close()|raw }}
						</td>
					</tr>
				{% endfor %}
			</table>
		{% endif %}

		<table>
			<tr>
				<td>
					<a href="{{ url_route('admin.locations.create') }}" class="btn btn-default"><i
								class="glyphicon glyphicon-plus"></i> Create new location</a>
					<a href="{{ url_route('admin.sections.index') }}" class="btn btn-default"><i
								class="glyphicon glyphicon-eye-open"></i> View all sections</a>
				</td>
			</tr>
		</table>


	</div>
{% endblock %}
