{% extends 'admin/base.twig.html' %}

{% block title %}Patrols{% endblock %}

{% block content %}
	<div class="span12">
		<h2>
			{% if location is defined %}
				{{ location.name }}{% if section is defined %} - {{ section.name }}{% endif %}
			{% else %}
				Patrol
			{% endif %}
		</h2>
		{% if patrol is defined %}
			<p>
				{% if patrol.start_time is defined %} {{ patrol.start_time }} {% endif %}
				{% if patrol.end_time is defined %} - {{ patrol.end_time }}{% endif %}
			</p>
		{% endif %}
		<table class="table table-hover table-bordered">
			<thead>
			<tr>
				<th colspan="2">Field</th>
			</tr>
			</thead>
			<tbody>
			{% for tally in tallies %}
				<tr>
					<td>
						{% if tally.datasheet_entry.find_one %}
							{{ tally.datasheet_entry.find_one.name }}
						{% endif %}
					</td>
					<td>{{ tally.tally }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>

	</div>
{% endblock %}
