{% extends 'admin/base' %}
{% block content %}
{{ form_open({'url': 'admin/login', 'class': 'form-signin'})|raw }}
<h2>Please Login</h2>

{{ form_text('username', null, {'class': 'form-control', 'placeholder': 'User Name'})|raw }}
{{ form_password('password', {'class': 'form-control', 'placeholder': 'Password'})|raw }}

{{ form_submit('Login', {'class': 'btn btn-large btn-primary btn-block'})|raw }}
{{ form_close }}

{% endblock %}