{% extends 'admin/base' %}

{% block title %} Edit Section {% endblock %}

{% block content %}
	<div span="12">
		<h1>Edit</h1>

		<div class="alert alert-info">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			Editing section <b>{{ section.name }}</b> of location <b>{{ location.name }}</b>
		</div>
		{{ form_open({'method': 'PATCH', 'class': 'form-horizontal', 'route': ['admin.sections.update', location.id] })|raw }}
		<input type="hidden" name="section_id" value="{{ section.id }}">

		<div class="control-group {% if errors.section_name is defined %} error {% endif %}">
			<label for="section_name" class="control-label">New name:</label>

			<div class="controls">
				<input type="text" name="name" id="section_name" value="{{ app.request.get( 'section_name') }}">
				{% if errors.section_name is defined %}
					<span class="help-inline">{{ errors.section_name }}</span>
				{% endif %}
			</div>
		</div>
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">Save</button>
			<a href="{{ url_route('admin.locations.show', {id:section.coastkeeper_location_id}) }}" class="btn">Cancel</a>
		</div>
		</form>
	</div>
{% endblock %}

