{% extends "mobile.base" %}

{% block title %}Coastkeeper Volunteer - Patrol {% endblock %}

{% block header %}Data Collection {% endblock %}

{% block content %}
  <div class="center-text">
    <form id="data-entry-form" name="data-entry-form" action="{{ url_route('data-collection') }}" method="POST">
      {% for category in datasheet.categories %}
        <fieldset data-role="collapsible">
          <legend>{{ category.name }}</legend>
          {% for field in category.fields %}
            <label for="field-{{ field.id }}">
              {{ field.name }}
            </label>
            <div data-role="controlgroup" data-type="horizontal">
              <a class="ui-btn ui-btn-icon-notext ui-icon-minus" name="minus"
                 data-ajax="false">-1</a>
              <input type="number" name="field-{{ field.id }}" id="{{ field.id }}" value="0"
                     data-wrapper-class="controlgroup-textinput ui-btn" style="width:55px; text-align:center;">
              <a class="ui-btn ui-btn-icon-notext ui-icon-plus" name="plus"
                 data-ajax="false">+1</a>
            </div>
          {% endfor %}
        </fieldset>
      {% endfor %}
      <button type="submit" class="ui-btn ui-btn-d">Finish</button>
    </form>
  </div>
{% endblock %}

