{% extends 'admin/base' %}

{% block title %}Edit Volunteer{% endblock %}

{% block content %}
	<div class="span12">
		<h1>Edit Volunteer</h1>
		{% if volunteer %}
			{{ form_open({'method': 'PATCH', 'class': 'form-horizontal', 'route': ['admin.volunteers.update', volunteer.id] })|raw }}
			<div class="form-group{% if errors.first_name is defined %} error{% endif %}">
				<label class="col-sm-2 control-label" for="first_name">First Name</label>

				<div class="col-sm-10">
					<input type="text" class="form-control" id="first_name" name="first_name"
					       value="{{ volunteer.first_name }}">
					{% if errors.first_name is defined %}
						<span class="help-inline">{{ errors.first_name }}</span>
					{% endif %}
				</div>
			</div>
			<div class="form-group{% if errors.last_name is defined %} error{% endif %}">
				<label class="col-sm-2 control-label" for="last_name">Last Name</label>

				<div class="col-sm-10">
					<input type="text" class="form-control" id="last_name" name="last_name"
					       value="{{ volunteer.last_name }}">
					{% if errors.last_name is defined %}
						<span class="help-inline">{{ errors.last_name }}</span>
					{% endif %}
				</div>
			</div>
			<div class="form-group{% if errors.username is defined %} error{% endif %}">
				<label class="col-sm-2 control-label" for="username">Login Name</label>

				<div class="col-sm-10">
					<input type="text" class="form-control" id="username" name="username" value="{{ volunteer.username }}">
					{% if errors.username is defined %}
						<span class="help-inline">{{ errors.username }}</span>
					{% endif %}
				</div>
			</div>
			<div class="form-group{% if errors.email is defined %} error{% endif %}">
				<label class="col-sm-2 control-label" for="email">Email</label>

				<div class="col-sm-10">
					<input type="text" class="form-control" id="email" name="email" value="{{ volunteer.email }}">
					{% if errors.email is defined %}
						<span class="help-inline">{{ errors.email }}</span>
					{% endif %}
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label" for="role">Role:</label>

				<div class="col-sm-10">
					<select multiple class="form-control" name="role">
						{% for role in roles %}
							<option value="{{ role.id }}" {% if volunteer.hasRole(role.name) %} selected="selected"{% endif %}>
								{{ role.name }}</option>
						{% endfor %}
					</select>
				</div>
			</div>

			<div class="form-actions">
				<button type="submit" class="btn btn-primary">Save Changes</button>
				<a class="btn btn-default" href="{{ url_route('admin.volunteers.show', {id:volunteer.id}) }}">Cancel</a>
			</div>
			</form>
		{% else %}
			Volunteer doesn't exist.
		{% endif %}
	</div>
{% endblock %}