{% extends 'admin/base' %}

{% block title %} Create new category {% endblock %}

{% block content %} 
  <div span="12">
    <h1>Create a new category</h1>

    <form class="form-horizontal" action="{{ url_route('admin.categories.store', {datasheet_id:id}) }}" method="POST">
      <div class="control-group {% if errors.category_name is defined %} error {% endif %}">
        <label for="category_name" class="control-label">Name</label>
        <div class="controls">
          <input type="hidden" name="coastkeeper_datasheet_id" value="{{ id }}">
          <input type="text" name="name" id="category_name" value="{{ app.request.get( 'category_name' ) }}" >
          {% if errors.category_name is defined %}
          <span class="help-inline">{{ errors.category_name }}</span>
          {% endif %}
        </div>
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Create category</button>
        <a href="{{ url_route('admin.categories.index', {datasheet_id:id}) }}" class="btn">Cancel</a>
      </div>



    </form>



  </div>
{% endblock %}

