{% extends 'admin/base' %}

{% block title %}Select a datasheet{% endblock %}

{% block content %}
<div class="span12">
    <h1>Datasheets</h1>
    {% if datasheets %}
    <table class="table table-hover">
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
      {% for datasheet in datasheets %}
      <tr>
        <td>
          <a href="{{ url_route( 'admin.categories.index', {datasheet_id:datasheet.id})}}">
            {{ datasheet.name }}
          </a>
        </td>
        <td>
            {{ form_open({'method': 'DELETE', 'class': 'form-inline', 'route': ['admin.datasheets.destroy', datasheet.id] })|raw }}
            <a class="btn btn-dmall btn-default" href="{{url_route('admin.datasheets.edit', {datasheet_id:datasheet.id})}}"><i class="glyphicon glyphicon-edit"></i> Edit</a>
            <button type="submit" class="btn btn-small btn-danger"><i class="glyphicon glyphicon-trash"></i> Delete</button>
            </form>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}

    <div>
        <a class='btn btn-default' href="{{ url_route('admin.datasheets.create') }} " class="btn"><i class="glyphicon glyphicon-plus"></i> Create new datasheet</a>
    </div>
    
          
</div>
{% endblock %}
