{% extends 'admin/base' %}

{% block title %}Select a category{% endblock %}

{% block content %}
<div class="span12">
    <h1>Categories for {{datasheet.name}}</h1>
    {% if categories %}
    <table class="table table-hover">
        {% for category in categories %}
        <tr>
          <td>
            <a href="{{ url_route( 'admin.categories.show', category.id)}}">
              {{ category.name }}
            </a>
          </td>
          <td>
              {{ form_open({'method': 'DELETE', 'class': 'form-inline', 'route': ['admin.categories.destroy',category.id] })|raw }}
              <a class="btn btn-small btn-default" href="{{ url_route('admin.categories.edit', {id:category.id})}}"><i class="glyphicon glyphicon-edit"></i> Edit</a>
              <input type="hidden" name="datasheet_id" value="{{ datasheet.id }}">
              <button type="submit" class="btn btn-small btn-danger"><i class="glyphicon glyphicon-trash"></i> Delete</button>
              </form>
          </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div>
        <a class='btn btn-default' href="{{ url_route('admin.categories.create', {datasheet_id:datasheet.id}) }} " class="btn"><i class="glyphicon glyphicon-plus"></i> Create new category</a>
        <a class='btn btn-default' href="{{ url_route('admin.datasheets.index') }}" class="btn">Back to datasheets</a>
    </div>
    
          
</div>
{% endblock %}
