{% if errors.any %}
  <div class="alert alert-danger alert-block">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Error</h4>
    <ul>
      {% for error in errors.all() %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

{% if session_get('success') %}
  {% set message = session_get('success') %}
  <div class="alert alert-success alert-block">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Success</h4>
    {% if message is iterable %}
      {% for m in message %}
        {{ m }}
      {% endfor %}
    {% else %}
      {{ message }}
    {% endif %}
  </div>
{% endif %}

{% if session_get('error') %}
  {% set message = session_get('error') %}
  <div class="alert alert-danger alert-block">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Error</h4>
    {% if message is iterable %}
      {% for m in message %}
        {{ m }}
      {% endfor %}
    {% else %}
      {{ message }}
    {% endif %}
  </div>
{% endif %}

{% if session_get('warning') %}
  {% set message = session_get('warning') %}
  <div class="alert alert-warning alert-block">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Warning</h4>
    {% if message is iterable %}
      {% for m in message %}
        {{ m }}
      {% endfor %}
    {% else %}
      {{ message }}
    {% endif %}
  </div>
{% endif %}

{% if session_get('info') %}
  {% set message = session_get('info') %}
  <div class="alert alert-info alert-block">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Info</h4>
    {% if message is iterable %}
      {% for m in message %}
        {{ m }}
      {% endfor %}
    {% else %}
      {{ message }}
    {% endif %}
  </div>
{% endif %}
